<ion-content>
  <ion-list lines="none" *ngIf="user">
    <ion-item class="profile-section separator" lines="none">
      <ion-avatar slot="start">
        <!--Aca la imagen tiene parametros, ya que, puede que tenga o no imagen. Cuando es un usuario "normal" el usuario de por si 
        no tiene imagen, por ende se le pone una predeterminada. En caso de Google a veces el usuario tiene imagen de perfil. Ahi se extrae
        la URL y la muestra.-->
        <img
          [src]="
            user.imagen ||
            'assets/img/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg'
          "
          alt="Profile Image"
        />
      </ion-avatar>
      <ion-label>
        <h2>Bienvenido(a): {{ user.nombre }}</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="separator">
      <ion-label>
        <h2>Cuenta</h2>
      </ion-label>
    </ion-item>

    <ion-list inset>
      <ion-item class="separator">
        <ion-label>Nombre:</ion-label>
        <ion-text>{{ user.nombre }}</ion-text>
      </ion-item>
      <ion-item class="separator">
        <ion-label>Correo:</ion-label>
        <ion-text>{{ user.email }}</ion-text>
      </ion-item>
      <ion-item class="separator">
        <ion-label>Contactanos:</ion-label>
        <ion-button
          href="mailto:shopd324@gmail.com?subject=Soporte Gluten Away&body=Describe aquí tu problema o consulta."
        >
          GlutenAwaySoporte
        </ion-button>
      </ion-item>
      <ion-item button class="separator" (click)="logOut()">
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
