<ion-content>
  <ion-list lines="none" *ngIf="user">
    <ion-item class="profile-section separator" lines="none">
      <ion-avatar slot="start">
        <img
          [src]="
            user.profileImage
              ? user.profileImage
              : 'assets/img/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg'
          "
          alt="Profile Image"
        />
      </ion-avatar>
      <ion-label>
        <h2>Bienvenido(a): {{ user.nombre }}</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="separator">
      <ion-label>
        <h2>Cuenta</h2>
      </ion-label>
    </ion-item>

    <ion-list inset>
      <ion-item class="separator">
        <ion-label>Nombre:</ion-label>
        <ion-text>{{ user.nombre }}</ion-text>
      </ion-item>
      <ion-item class="separator">
        <ion-label>Correo:</ion-label>
        <ion-text>{{ user.email }}</ion-text>
      </ion-item>
      <ion-item button class="separator" (click)="logOut()">
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
