<ion-content [fullscreen]="false">
  <div id="backPage" (click)="navRecipes()">
    <ion-icon name="arrow-back"></ion-icon>
    <span id="backText">Volver</span>
  </div>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div id="recipeContainer">
        <ion-icon name="restaurant-outline" class="icon-top"></ion-icon>
        <h2 id="header">Agregar nueva receta</h2>
        <form (ngSubmit)="submitRecipe()">
          <!-- Nombre de la receta -->
          <ion-input
            [(ngModel)]="recipe.titulo"
            name="titulo"
            class="titulo"
            label="Nombre de la receta"
            fill="solid"
            label-placement="floating"
            placeholder="Ingrese el nombre de la receta"
          ></ion-input>

          <!-- Tiempo de preparación -->
          <ion-input
            [(ngModel)]="recipe.tiempo"
            name="tiempo"
            class="tiempo"
            label="Tiempo de preparación"
            fill="solid"
            label-placement="floating"
            placeholder="Ejemplo: 30 minutos"
          ></ion-input>

          <!-- Ingredientes -->
          <ion-input
            [(ngModel)]="recipe.ingredientes"
            name="ingredientes"
            class="ingredientes"
            label="Ingredientes"
            fill="solid"
            label-placement="floating"
            placeholder="Lista de ingredientes"
          ></ion-input>

          <!-- Preparación de la receta -->
          <ion-textarea
            [(ngModel)]="recipe.preparacion"
            name="preparacion"
            class="preparacion"
            label="Preparación"
            fill="solid"
            label-placement="floating"
            placeholder="Describe los pasos de preparación"
          ></ion-textarea>

          <!-- Botón Guardar Receta -->
          <ion-button expand="block" shape="round" type="submit" id="saveButton"
            >Guardar Receta</ion-button
          >
        </form>
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
