ion-content {
    position: relative;
    --background: var(--ion-color-light);
  }
  
  #recipeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
  }
  
  #backPage {
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }
  
  #backText {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-text-color);
  }
  
  #header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-text-color);
  }
  
  ion-input, ion-textarea {
    margin-bottom: 20px;
    --color: var(--ion-text-color);
    --placeholder-color: var(--ion-text-color);
    --background: var(--ion-color-light);
    width: 100%;
    max-width: 400px; 
    padding: 10px;  
    border-radius: 10px; 
  }
  
  ion-textarea {
    min-height: 100px;
  }
  
  .titulo, .tiempo, .ingredientes, .preparacion {
    --highlight-color: #ffc300;
  }
  
  .image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-upload ion-icon {
    font-size: 40px;
    color: #ffc300;
    background-color: #f8f3e6;
    padding: 10px;
    border-radius: 50%;
  }
  
  .image-upload img {
    max-width: 100px;
    height: auto;
    margin-top: 10px;
  }
  
  #saveButton {
    --background: #ffc300;
    color: var(--ion-text-color);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: none;
    height: 50px; 
    border-radius: 25px;
  }
  