
ion-content {
  position: relative;
  --background: var(--ion-color-light);
}

#recipeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#backPage {
  position: absolute;
    top: 20px; 
    left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer; 
    z-index: 10;
}



.icon-top {
  background-color: #f8f3e6;
  border-radius: 50%; 
  padding: 20px;
  margin-bottom: 20px;
  color: #ffc300; 
  font-size: 40px;
}

#header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

ion-input, ion-textarea {
  --background: var(--ion-color-light);
  --color: var(--ion-text-color);
  --placeholder-color: var(--ion-text-color);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.titulo, .tiempo,.ingredientes, .preparacion{
  --highlight-color: #ffc300;
}

#saveButton {
  --background: #ffc300;
  font-weight: bold;
  height: 48px;
  margin-top: 20px;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  color: var(--ion-text-color);
  text-transform: none;
}

#saveButton:hover {
  transform: translateY(-2px);
}
