<ion-content class="custom-modal-content">
  <form (ngSubmit)="submitRecipe()">
    <div class="image-container" (click)="onImageSelected()">
      <ion-icon name="camera-outline" *ngIf="!imagePreview"></ion-icon>
      <span *ngIf="!imagePreview">Agregar Foto</span>
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Vista previa" />
    </div>

    <ion-list lines="none">
      <ion-item class="form-item">
        <ion-label position="floating">Nombre de la Receta</ion-label>
        <ion-input
          [(ngModel)]="recipe.titulo"
          name="titulo"
          required
        ></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="floating">Tiempo (min)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="recipe.tiempo"
          name="tiempo"
          required
        ></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="floating">Ingredientes</ion-label>
        <ion-input
          [(ngModel)]="recipe.ingredientes"
          name="ingredientes"
          required
        ></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="floating">Preparación</ion-label>
        <ion-input
          [(ngModel)]="recipe.preparacion"
          name="preparacion"
          required
        ></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" type="submit" color="warning">
        Crear Receta
      </ion-button>
    </ion-list>
  </form>
</ion-content>
