<ion-content scroll-y="true">
  <ion-card style="margin-bottom: 30vw"></ion-card>

  <!-- Mostrar spinner mientras se cargan las recetas -->
  <div *ngIf="loading" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
    <p style="font-size: 10px">Cargando Favoritos...</p>
  </div>

  <div *ngIf="favoriteRecipes.length === 0 && !loading" class="empty-favorites">
    <p>No tienes recetas guardadas en favoritos.</p>
  </div>

  <ion-card
    *ngFor="let receta of favoriteRecipes"
    (click)="setOpen(true, receta)"
    class="recipe-card"
  >
    <ion-img
      [src]="receta.imagen"
      alt="{{ receta.titulo }}"
      class="recipe-img"
    ></ion-img>
    <ion-row>
      <ion-col size="11">
        <ion-card-header>
          <ion-card-title>{{ receta.titulo }}</ion-card-title>
          <ion-card-subtitle>{{ receta.tiempo }}</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-modal
    #modal
    [isOpen]="isModalOpen"
    [initialBreakpoint]="0.7"
    [breakpoints]="[0.5, 0.85, 1]"
    (ionModalDidDismiss)="modalRestart()"
  >
    <ng-template>
      <ion-content class="custom-modal-content">
        <ion-card class="modal-card">
          <div class="image-container">
            <img [src]="openRecipe?.imagen" alt="Vista previa" />
          </div>
          <div class="modal-info">
            <h2 class="modal-title">{{ openRecipe?.titulo }}</h2>
            <p class="modal-time">
              ⏱ Tiempo de preparación: {{ openRecipe?.tiempo }}
            </p>
            <h3>Ingredientes:</h3>
            <p>{{ openRecipe?.ingredientes }}</p>
            <h3>Preparación:</h3>
            <p>{{ openRecipe?.preparacion }}</p>
          </div>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
