<ion-content [fullscreen]="true" bounce="true" style="padding-top: 30vh">
  <ion-card *ngFor="let receta of recipes" (click)="setOpen(true, receta)">
    <ion-img [src]="receta.imagen" alt="{{ receta.nombre }}"></ion-img>
    <ion-row>
      <ion-col size="11">
        <ion-card-header>
          <ion-card-title>{{ receta.nombre }}</ion-card-title>
          <ion-card-subtitle>{{ receta.duracion }}</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
      <ion-col size="1">
        <ion-button
          fill="clear"
          class="star-button"
          (click)="toggleFavorite($event, receta)"
        >
          <ion-icon [name]="receta.fav ? 'star' : 'star-outline'"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button fill="solid" class="addRecipe" (click)="addNewRecipe()">
      <ion-icon name="add-outline" class="iconAddrecipe"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--Modal-->
  <ion-modal
    #modal
    [isOpen]="isModalOpen"
    [initialBreakpoint]="0.85"
    [breakpoints]="[0.5, 0.85, 1]"
    (ionModalDidDismiss)="modalRestart()"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)"
              ><ion-icon name="close-outline"></ion-icon
            ></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row>
          <ion-col size="1"></ion-col>
          <img
            class="imgModal"
            [alt]="openRecipe?.imagen"
            [src]="openRecipe?.imagen"
          />
          <ion-col size="10">
            <p>
              <strong
                ><h2>{{ openRecipe?.nombre }}</h2></strong
              >
            </p>
            <p>
              <strong>Tiempo de preparación: </strong>
              {{ openRecipe?.duracion }}
            </p>
            <p><strong>Ingredientes: </strong>{{ openRecipe?.ingredientes }}</p>
            <p><strong>Preparación: </strong>{{ openRecipe?.preparacion }}</p>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
