ion-row{
    --ion-padding-start: 0;
    --ion-padding-end: 0;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  
//toolbar
.recipesToolbar{
    --background-color: transparent;
    --color: #fff;
    --backdrop-filter: blur(10px);
    --position: relative;
}



.recipesButton{
    --border-radius: 20px;
    --background: #FFFFFF;
    --background-hover: #FFC300;
    --background-activated: #FFC300;
    --background-focused: #FFC300;
    --color: #000;
    font-size: 9px;
    font-weight: lighter;
}

//Favorite button
.star-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --background: transparent; 
    --border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  
  .star-button ion-icon {
    color: #FFC300; 
    font-size: 24px; 
  }
  
  .star-button:active{
    transform: scale(1.2); 
  }

  
// addRecipe button
.addRecipe{
  --background: #FFC300 !important;
}

.iconAddRecipe{
  color: #FFFFFF !important;
}


//Modal
h2{
  text-align: center;
  font-size: bold;
}


/* Contenedor de las recetas */
.recipe-card {
  margin: 10px 16px; 
  border-radius: 10px; 
  overflow: hidden; 
}

.recipe-card {
  margin: 10px 16px;
  border-radius: 10px; 
  overflow: hidden; 
}

/*img tamaño fijo*/
.recipe-img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px 10px 0 0; 
}

/* Estilo general de filas */
ion-row {
  --ion-padding-start: 0;
  --ion-padding-end: 0;
}


ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: gray;
}


.custom-modal-content {
  --background: #fff;
  border-radius: 20px; 
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-card {
  border-radius: 20px; 
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: 200px; 
  background-color: #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 15px;
}

.modal-info {
  text-align: left;
}

.modal-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
ion-modal {
  --border-radius: 15px 15px 0 0;
}
.modal-time {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
  margin-top: 15px;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
}
