// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
<<<<<<< Updated upstream
=======
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter_24pt-ExtraLight.ttf');
}
  
@font-face {
    font-family: 'Inter bold';
    src: url('../assets/fonts/Inter_18pt-Bold.ttf');
}

@font-face {
    font-family: 'Inter black';
    src: url('../assets/fonts/Inter_18pt-Black.ttf');
}
>>>>>>> Stashed changes
