<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">StarterTab</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="recipes">
        <ion-icon name="receipt-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="scanner">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="maps">
        <ion-icon name="map-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
