<ion-content [fullscreen]="true">
  <ion-header *ngIf="inRecipes" [translucent]="true">
    <ion-toolbar class="recipesToolbar">
      <ion-row class="ion-justify-content-center">
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-searchbar
            class="searchRecipes"
            animated
            placeholder="Search..."
          ></ion-searchbar>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-toolbar>
        <ion-segment color="warning" value="all">
          <ion-segment-button routerLink="recipes">
            <ion-label>Para ti</ion-label>
          </ion-segment-button>
          <ion-segment-button routerLink="favorite">
            <ion-label>Favoritos</ion-label>
          </ion-segment-button>
          <ion-segment-button routerLink="myrecipes">
            <ion-label>Mis Recetas</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="recipes">
        <ion-icon name="reader-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="scanner">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="maps">
        <ion-icon name="map-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
