ion-content{
    position: relative;
}
#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    position: relative;
}


.nombre, .correo, .contrasena{
    --highlight-color: #ffc300;
    margin-bottom: 30px;
    font-size: 18px;
}

#backPage {
    position: absolute;
    top: 30px; 
    left: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    cursor: pointer; 
}

#backText {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
}

#registerLink, #forgotPasswrdLink{
    color: var(--ion-text-color);
    font-weight: bold;
}

#loginButton {
    --background: #ffc300;
    color: black;
    padding-bottom: 30px;
    padding-top: 20px;
    font-weight: bold;

}

#imageContainer img{
    width: 150px;
    height: 100px;
    transform: translatey(-40px);
}