ion-content {
    position: relative;
    --background: var(--ion-color-light);
}

#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< Updated upstream
    height: 100vh;
    position: relative;
=======
    margin-top: 120px;
>>>>>>> Stashed changes
}

ion-input {
    margin-bottom: 20px;
    --color: var(--ion-text-color);
    --placeholder-color: var(--ion-text-color);
    --background: var(--ion-color-light);
}

.correo, .contrasena{
    --highlight-color: #ffc300;
}
#backPage {
    position: absolute;
    top: 20px; 
    left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer; 
    z-index: 10;
}

#backText {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-text-color);
}

.link-text {
    font-size: 14px;
    font-weight: bold;
    color: var(--ion-text-color);
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

#loginButton {
    --background: #ffc300;
    color: var(--ion-text-color);
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    text-transform: none;
}

.mail-icon {
    background-color: #f8f3e6;
    border-radius: 50%; 
    padding: 20px;
    margin-bottom: 20px;
    color: #ffc300; 
    font-size: 40px;
}
