<ion-content>
  <!-- Botón para escanear producto -->
  <ion-row>
    <ion-col>
      <ion-button expand="full" (click)="startScan()">
        Escanear producto.
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="scannedCode">
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Resultado del Escaneo:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Código escaneado: {{ scannedCode }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let code of code">
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Código: {{ code.codigo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Producto: {{ code.producto }} <br />
          Gluten: {{ code.containGluten ? "Contiene Gluten" : "Sin Gluten" }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
